.contain-login {
  width: 400px;
  height: 500px;
  padding: 30px;

  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contain {
  height: 90vh;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
